@keyframes shine {
    0% {
        background-color: #333;
    }
    20% {
        background-color: #111;
    }
    40% {
        background-color: #555;
    }
    60% {
        background-color: #777;
    }
    80% {
        background-color: #222;
    }
    100% {
        background-color: #333;
    }
}

body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

.app {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    position: relative;
    width: 450px;
    max-height: 90vh;
    top: 50%;
}

.img {
    height: auto;
    object-fit: cover;
    width: 100%;
    max-height: calc(90vh - 30px);
    border-radius: 30px;
}

.blackout-box {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    box-shadow: 0 0 22px 7px rgba(0, 0, 0, .16);
    overflow: hidden;
}

.results {
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 7vh;
    background: #FBA601;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    box-shadow: 0 0 22px 7px rgba(0, 0, 0, .16);
    border-radius: 30px;
}

.answer-box {
    border-bottom: 2px solid;
    margin: 0 10px;
    text-align: center;
}

.box {
    background: #333;
    border: 2px solid #111;
    box-sizing: border-box;
    height: 10%;
    width: 10%;
    animation: shine 6s infinite;
}

.box-delay-1 {
    animation-delay: 3s;
}

.box-delay-2 {
    animation-delay: 2s;
}

.box-delay-3 {
    animation-delay: 4s;
}

.is-hidden {
    opacity: 0;
}

.input {
    border: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 15px;
    width: 300px;
    box-shadow: 0 0 22px 7px rgba(0, 0, 0, .16);
    border-radius: 30px;
}

.winner-box {
    position: fixed;
}